@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Lato:ital,wght@0,700;0,900;1,700&family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Bree+Serif&family=Lato:wght@700;900&family=Montserrat:wght@300;400;700&display=swap');



*{box-sizing: border-box;
	padding: 0; margin: 0;
outline:;}

img {
  max-width: 100%;
  height: auto;
}
  .row::after {
  content: "";
  clear: both;
  display: table;
}

.kids-corner-nav ul{
	list-style: none;
	

}
.kids-corner-nav ul li{
	display: inline-block;
	padding: 0px 10px;
}

.kids-corner-nav ul li a{
	text-decoration: none;
	display:block;
	color: gray;
}

.kids-corner-nav ul li a:hover{
	color: #8FD2F4;
}

.social_icons_top_right ul{
	padding: 0px 17px 0px;
	margin-bottom: 12px;
}

.social_icons_top_right ul li{
	list-style: none;
	display: inline-block;
}

.social_icons_top_right ul li a{
	text-decoration: none;
	display:block;
	padding: 0px;
	
	
	
}

.social_icons_top_right ul li a i{
	color: gray;
	text-align: center;
	font-size: 15px;
	text-align: center;
	border: 1px solid gray;
	border-radius: 50px;
	line-height: 23px;
	width: 25px;
	margin: 0px 5px;
	

}

.social_icons_top_right ul li a i:hover{
	color: #8FD2F4;
	border: 1px solid #8FD2F4;
}

.header{ padding: 15px 30px; }



.position{ position:;
			top: 233px; left: 38px;
		 }
h1.heading{		

			font-size: 70px;
		color: #ffffff; 
		font-family: 'Bree Serif', serif;
		}

.btn-color{ border:1px solid #ffffff;
			border-radius: 0px;
			padding: 21px 40px;
			text-align: center;
			color: #ffffff; 
			margin-top: 43px;
			font-size: 20px;
			font-family: 'Bree Serif', serif;
	}

.heading-color{		
				color:#668591 ; 
				font-family: 'Bree Serif', serif;
			}

.paragraph{
			color: #748890;
			 font-family: 'Lato', sans-serif;
			 padding:;}


#blue-bg{ background: url('../images/offerings.jpg'); 
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 20px;
			padding-bottom: 20px;
		}




.offerings{ 
			font-size: 36px;
			padding-top: 70px;
			margin-bottom: 60px;
			color: #ffffff;
			font-family: 'Bree Serif', serif;
			 }

.bluearea{ padding-bottom: 70px; }

.services img{ border-radius: 50px; 
				
				
				 }

.row2{ margin-top: 70px;}
				
.services-child{  color: #ffffff;
					margin-top: 30px;
					padding: 0px 90px;
				}



.welcome{ text-align: center; }

.flex{ display: flex;
		justify-content: space-between;
		align-items: center; 
		border-bottom: 1px solid;}

.bg-color{ background-color: #45b3db;
			font-size: 35px; }

.brdr{ max-width: 100%;  }
.brdr a{ border:2px solid #45b3db;
		padding: 10px 40px; max-width: 100%;
		text-decoration: none;
		color: #5bbde3 !important;
		font-family: 'Lato', sans-serif; }



.bg-img{ background: url('../images/blue.jpg'); 
background-repeat: no-repeat;
background-size: cover;
padding-top: 100px;
padding-bottom: 100px;
vertical-align: middle;}

.colors{color: #ffff;
		font-size: 24px;
		width:100%;
		font-family: 'Bree Serif', serif;
		}




/* blog posts and picnic section*/
.blog-wrapper{
				padding: 70px 30px;
			}


.p1{ padding: 30px 240px 70px; 
	color:#668591;
	 font-family: 'Lato', sans-serif;
}

h5.headings{		

			font-size: 25px;
			color: #748890;
		    font-family: 'Bree Serif', serif;
			border-bottom: 1px solid #748890;
			padding-bottom: 10px; }

h5.hd{		

			font-size: 20px;
			color: #748890;
		    font-family: 'Bree Serif', serif;
			border-bottom: 1px solid #748890;
			padding-bottom: 10px;
			width: 100%; }


.box-1{flex:1; margin-right: 70px; padding: 30px 0px;}
.box-2{flex:1; margin-right: 0px; padding: 0px 0px;}
.sub-box{ padding: 30px 0px;}






.footer-bg-area{ background: url('../images/footer-bg-area.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				padding-bottom: 30px;
				padding-top:50px;
				margin-bottom: 50px;
				 }






.formheading{font-size: 24px;
				font-family: 'Lato', sans-serif;
				margin-left: 40px !important;
		 
		 }
p.formhd {font-size: 24px;
				
		        }
.inp-b{ border:1px solid white; 
		border-radius: 0px;}
 
.footer-icon i{font-size: 25px;}

.label2{font-size: 16px;
		 font-family: 'Lato', sans-serif;
		 color: white;
		}

.button{ border:1px solid white;
		color: white;
		font-size: 18px;
		border-radius: 0px;
		padding: 5px 25px;
		background:none; }




.footer .dynamic_footer ul{
		list-style: none;
		padding-top: 20px !important;

}

.footer .dynamic_footer ul li{
	display: inline-block;
}
.footer .dynamic_footer ul li a{
	text-decoration: none;
	color: grey;
	border: 1px solid;
	width: 50px;
	display: block;
	text-align: center;

	border-radius: 50px;
}
/*	 MEDIA QUERRY */



@media only screen and (min-width: 460px){

	.position{ 
			top: 50px; left: 5px;
		 }
	h1.heading{		

			font-size: 23px;
		
		}
		.navdiv{width: 100%;
				text-align: center !important;}

	.footer-icon {text-align: !important;}



}

@media only screen and (min-width: 600px){
.position{ 
			top: 75px; left: 10px;
		 }
h1.heading{		

			font-size: 30px;
		
		}
		.btn-color{ 		
			padding: 15px 35px;
			margin-top: 38px;
			font-size: 15px;
			
	}

	
.brdr a{ border:2px solid #45b3db;
		padding: 5px 5px; max-width: 100%; }

 
}

.mediaquerry1{ text-align: left !important; }

}

@media only screen and (min-width: 767px){
.position{ 
			top: 100px; left: 10px;
		 }
h1.heading{		

			font-size: 40px;
		
		}
		.btn-color{ 		
			padding: 20px 40px;
			margin-top: 38px;
			font-size: 20px;
			
	}

	.footer-icon {text-align: left !important;}

.brdr a{ 
		padding: 10px 40px; max-width: 100%; }


}
	
@media only screen and (min-width: 922px){
.position{ 
			top: 140px; left: 10px;
		 }
		


		h1.heading{		

			font-size: 50px;
		
		}
.brdr a{ 
		padding: 10px 40px; max-width: 100%; }


}


@media only screen and (min-width: 1200px){


.position{ 
			top: 217px; left: 30px;
		}

h1.heading{		

			font-size: 70px;
		
		}






		.brdr a{ 
		padding: 10px 40px; max-width: 100%; }

}